<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/css/Register.css" />
  </head>
  <body>
    <%- include('../partials/Header.ejs') %>

    <div style="height: 57.7vh; ">
      <div class="form_container">
        <form method="post" action="/User/login">
          <h1>Login</h1>
          <input type="email" name="email" required placeholder="Email*" />
          <input
            type="password"
            name="password"
            required
            placeholder="Password"
          />
          <p id="message" style="color: #fbf8f6">Looking Good</p>
          <button type="submit">Submit</button>
        </form>
      </div>
    </div>
    <%- include('../partials/Footer.ejs')  %>
  </body>
</html>
