<html>
  <head>
    <link rel="stylesheet" href="/css/Footer.css">
  </head>
  <body>
    <footer>
        <div class="footer_container">
            <div class="footer_logo">
                <a href="/"><img src="https://yt3.googleusercontent.com/6D0ErXX2jSuUb0JKVMdBnXtQr8A1Fj5WPIjh4pGcaKEV91kKYz7g5AVkw91-mzyztIg6PYuINbM=s160-c-k-c0x00ffffff-no-rj" alt="logo" /></a>
                <div class="logo_text">
            <h4 style="color: black;">Physics Preparation</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate commodi adipisci saepe obcaecati et. Saepe.</p>
                </div>
              </div>
           
              <div class="help">
                <h4>GET HELP</h4>
                <div class="footer_links">
                    <ul>
                        <li><a>Contact us</a></li>
                        <li><a>Latest Articles</a></li>
                        <li><a>FAQ</a></li>
                    </ul>

                </div>
              </div>

              <div class="programs">
                <h4>PROGRAMS</h4>
                <div class="footer_links">
                    <ul>
                        <li><a>Art & Design</a></li>
                        <li><a>Business</a></li>
                        <li><a>IT & Software</a></li>
                        <li><a>Languages</a></li>
                        <li><a>Programming</a></li>
                    </ul>

                </div>
              </div>


              <div class="contact_us">
                <h4>CONTACT US</h4>
                <div class="address">

                    <p>Address: 2321 New Design Str, Lorem Ipsum10 Hudson Yards, USA</p>
                    <p>Tel: + (123) 2500-567-8988</p>
                    <p>Mail: supportlms@gmail.com</p>
                    
                </div>
                <div class="social_links">
                    <ul>
                        <li><a>Youtube</a></li>
                        <li><a>instagrm</a></li>
                        <li><a>facebook</a></li>
                        <li><a>Twitter</a></li>
                    </ul>

                </div>
              </div>

        </div>

        <hr>
        <p style="margin-top: 0.5rem; color: #555555;">Copyright © 2025 Physics Preparation | Developed by Shubhanshu Saadhiyaan</p>
    </footer>
       
        
  </body>
</html>
