<html>
  <head>
    <link rel="stylesheet" href="/css/Header.css">
  </head>
  <body>
    <header>
      <nav class="header_container">
        <div class="logo">
          <a href="#"><img src="../../images/logo.png" alt="logo" /></a>
        </div>
        <div class="search_box">
          <input placeholder="Search here..." />
          <button>Explore</button>
        </div>
        <div class="nav_links">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/Courses">Topics</a></li>
            <li><a href="#">Other</a></li>
            <li><a href="#">Contact us</a></li>
            <li><a href="#">FAQ's</a></li>
          </ul>
        </div>
        <div class="auth_btns">
          <a href="/Login">Log in</a>
          <a href="/Register">Register</a>
        </div>
      </nav>
    </header>
  </body> 
</html>
