<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Courses</title>
  </head>
  <body>
    <main>
      <div class="filter">
        <input type="text" />
        <button>Search</button>
      </div>

      <div class="Cards">
        <h2>Section</h2>
            <div class="inner_section">
                <div class="video_link">
                    <iframe
                      width="560"
                      height="315"
                      src="https://www.youtube.com/embed/x5sOWciGo9s?si=do_fd5GQlHx5aQVc"
                      title="YouTube video player"
                      frameborder="0"
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                      referrerpolicy="strict-origin-when-cross-origin"
                      allowfullscreen
                    ></iframe>
                  </div>
                  <div class="title">
                      <h4>Title</h4>
                      <p>about</p>
                    </div>
            </div>
      </div>
    </main>
  </body>
</html>
