<!DOCTYPE hml>
<hml lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/css/Home.css" />
  </head>
  <body>
    <%- include('partials/Header.ejs') %>
    <main>
      <section class="home">
        <div class="container">
          <div class="text_btn">
            <h2><span>Build Skills</span> with Online Course</h2>
            <p>
              We denounce with righeous indignation and dislike men who are so
              beguiled and demoralized that cannot trouble.
            </p>
            <a href="/Courses">Explore All Topic</a>
          </div>
        </div>
      </section>

      <section class="home2">
        <div class="container2">
          <div class="text_btn2">
            <h2><span>Build Skills</span> with Online Course</h2>
            <p>
              We denounce with righeous indignation and dislike men who are so
              beguiled and demoralized that cannot trouble.
            </p>
            <a href="/Courses">Explore All Topic</a>
          </div>
        </div>
      </section>

      <section class="latest_section">
        <div class="video_iframe_contianer">
          <iframe
            src="https://www.youtube.com/embed/lx6owyrBxQ4?si=M9MFiVRr0Vnwt_We"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
            style="border-radius: 5px"
          ></iframe>

          <div class="latest_btn">
            <a>All Videos</a>
          </div>
        </div>
      </section>
    </main>
    <%- include('partials/Footer.ejs') %>
  </body>
</hml>
