<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/css/Home.css" />
  </head>
  <body>
    <%- include('partials/Header.ejs') %>
    <main>
      <section class="home">
        <div class="container">
          <div class="text_btn">
            <h2>Build Skills with Online Course</h2>
            <p>
              We denounce with righteous indignation and dislike men who are so
              beguiled and demoralized that cannot trouble.
            </p>
            <a href="/Courses">Explore All Topic</a>
          </div>
        </div>
      </section>

      <section>
        <div class="sections_containers">
          <h1>1. Heading</h1>
          <div class="video_section_cards">
            <div class="video_link">
              <h3>1. Title</h3>

              <iframe
                width="320"
                height="200"
                src="https://www.youtube.com/embed/lx6owyrBxQ4?si=M9MFiVRr0Vnwt_We"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen
                style="border-radius: 5px"
              ></iframe>
              <p id="about_video">
                1. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Saepe labore in corporis quibusdam quis, nulla facere fuga
                consectetur dicta accusantium rerum iure.
              </p>
              <button id="about_btn">About</button>
            </div>

            <div class="video_link">
              <h3>1. Title</h3>

              <iframe
                width="320"
                height="200"
                src="https://www.youtube.com/embed/lx6owyrBxQ4?si=M9MFiVRr0Vnwt_We"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen
                style="border-radius: 5px"
              ></iframe>
              <p id="about_video">
                1. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Saepe labore in corporis quibusdam quis, nulla facere fuga
                consectetur dicta accusantium rerum iure.
              </p>
              <button id="about_btn">About</button>
            </div>

            <div class="video_link">
              <h3>1. Title</h3>

              <iframe
                width="320"
                height="200"
                src="https://www.youtube.com/embed/lx6owyrBxQ4?si=M9MFiVRr0Vnwt_We"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen
                style="border-radius: 5px"
              ></iframe>
              <p id="about_video">
                1. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Saepe labore in corporis quibusdam quis, nulla facere fuga
                consectetur dicta accusantium rerum iure.
              </p>
              <button id="about_btn">About</button>
            </div>

            <div class="video_link">
              <h3>1. Title</h3>

              <iframe
                width="320"
                height="200"
                src="https://www.youtube.com/embed/lx6owyrBxQ4?si=M9MFiVRr0Vnwt_We"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen
                style="border-radius: 5px"
              ></iframe>
              <p id="about_video">
                1. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Saepe labore in corporis quibusdam quis, nulla facere fuga
                consectetur dicta accusantium rerum iure.
              </p>
              <button id="about_btn">About</button>
            </div>

            <div class="video_link">
              <h3>1. Title</h3>

              <iframe
                width="320"
                height="200"
                src="https://www.youtube.com/embed/lx6owyrBxQ4?si=M9MFiVRr0Vnwt_We"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen
                style="border-radius: 5px"
              ></iframe>
              <p id="about_video">
                1. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Saepe labore in corporis quibusdam quis, nulla facere fuga
                consectetur dicta accusantium rerum iure.
              </p>
              <button id="about_btn">About</button>
            </div>
          </div>
        </div>




        <div class="sections_containers">
            <h1>2. Heading</h1>
            <div class="video_section_cards">
              <div class="video_link">
                <h3>2. Title</h3>
  
                <iframe
                  width="320"
                  height="200"
                  src="https://www.youtube.com/embed/lx6owyrBxQ4?si=M9MFiVRr0Vnwt_We"
                  title="YouTube video player"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                  referrerpolicy="strict-origin-when-cross-origin"
                  allowfullscreen
                  style="border-radius: 5px"
                ></iframe>
                <p id="about_video">
                  2. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Saepe labore in corporis quibusdam quis, nulla facere fuga
                  consectetur dicta accusantium rerum iure.
                </p>
                <button id="about_btn">About</button>
              </div>
  
              <div class="video_link">
                <h3>2. Title</h3>
  
                <iframe
                  width="320"
                  height="200"
                  src="https://www.youtube.com/embed/lx6owyrBxQ4?si=M9MFiVRr0Vnwt_We"
                  title="YouTube video player"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                  referrerpolicy="strict-origin-when-cross-origin"
                  allowfullscreen
                  style="border-radius: 5px"
                ></iframe>
                <p id="about_video">
                  2. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Saepe labore in corporis quibusdam quis, nulla facere fuga
                  consectetur dicta accusantium rerum iure.
                </p>
                <button id="about_btn">About</button>
              </div>
  
              <div class="video_link">
                <h3>2. Title</h3>
  
                <iframe
                  width="320"
                  height="200"
                  src="https://www.youtube.com/embed/lx6owyrBxQ4?si=M9MFiVRr0Vnwt_We"
                  title="YouTube video player"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                  referrerpolicy="strict-origin-when-cross-origin"
                  allowfullscreen
                  style="border-radius: 5px"
                ></iframe>
                <p id="about_video">
                  2. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Saepe labore in corporis quibusdam quis, nulla facere fuga
                  consectetur dicta accusantium rerum iure.
                </p>
                <button id="about_btn">About</button>
              </div>
  
              <div class="video_link">
                <h3>1. Title</h3>
  
                <iframe
                  width="320"
                  height="200"
                  src="https://www.youtube.com/embed/lx6owyrBxQ4?si=M9MFiVRr0Vnwt_We"
                  title="YouTube video player"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                  referrerpolicy="strict-origin-when-cross-origin"
                  allowfullscreen
                  style="border-radius: 5px"
                ></iframe>
                <p id="about_video">
                  1. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Saepe labore in corporis quibusdam quis, nulla facere fuga
                  consectetur dicta accusantium rerum iure.
                </p>
                <button id="about_btn">About</button>
              </div>
  
              <div class="video_link">
                <h3>1. Title</h3>
  
                <iframe
                  width="320"
                  height="200"
                  src="https://www.youtube.com/embed/lx6owyrBxQ4?si=M9MFiVRr0Vnwt_We"
                  title="YouTube video player"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                  referrerpolicy="strict-origin-when-cross-origin"
                  allowfullscreen
                  style="border-radius: 5px"
                ></iframe>
                <p id="about_video">
                  1. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Saepe labore in corporis quibusdam quis, nulla facere fuga
                  consectetur dicta accusantium rerum iure.
                </p>
                <button id="about_btn">About</button>
              </div>
            </div>
          </div>
      </section>
    </main>
    <%- include('partials/Footer.ejs') %>







    <script>
      let btn = document.getElementById("about_btn");

      btn.addEventListener("click", () => {
        let aboutSection = document.getElementById("about_video");

        if (aboutSection.style.display === "none") {
          aboutSection.style.display = "block";
        } else {
          aboutSection.style.display = "none";
        }

        if (aboutSection.style.display === "none") {
          btn.textContent = "About";
        } else {
          btn.textContent = "Hide";
        }
      });
    </script>
  </body>
</html>
