:root {
    --primary-color: #f17d3a;
    --secondary-color: #102faf;
    --background-color: #fff5ef;
  }
  
  :root{
    font-family: "Inter", serif;
    background-color: var(--background-color);
  }



 