@import 'colors.css';
*{
    margin: 0rem;
    padding: 0;
    box-sizing: border-box;
}

.home {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0.1rem   ;
    
} 

.home .container {
    width: 100vw; 
    height: 70vh; 
    background-image: url('../images/home2.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius:  15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    overflow: hidden;
}

.container{
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 5rem;
}



.text_btn {
    max-width: 40%;
}

.text_btn h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: var(--primary-color);
    span{
        color: var(--secondary-color);
    }
}

.text_btn p {
    font-size: 1rem;
    margin-bottom: 2rem;
    color: black;
    letter-spacing: 1.5px;
}

.text_btn a {
    display: inline-block;
    padding: 0.8rem 2rem;
    background-color: #f17d3a;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid transparent;
    transition: all 0.3s ease;
}

.text_btn a:hover {
    background-color: #f2cbb4;
    color: #000;
    border: 1px solid black;
}



/* 
.sections_containers{
   padding: 1rem;
   width: 100vw;
   height: auto;
  
}

.video_section_cards{
    display: flex;
   flex-wrap: wrap;
   align-items: start;
   gap: 2.5rem;
}
.sections_containers h1{
    padding: 1rem;
    margin-bottom: 0.5rem;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgb(91, 90, 90) ;
    background-color: #f17d3a;
}

.video_link{
    width: 31%;
    padding: 0.1rem;
    align-items: center;
    text-align: center;
    border-radius: 5px;
 box-shadow: 10px 10px 10px rgb(91, 90, 90) ;

}
.video_link h3{
    padding: 0.5rem;
    margin: 0.2rem 0rem 0.2rem;
    border-radius: 5px;
    background-color: #f17d3a;
}

.video_link iframe{
    width:320;
    height:200;
}

.video_link p{
    display: none;
    font-size: small;
}

#about_btn{
    all: unset;
    padding: 0.8rem 2rem;
    background-color: #f17d3a;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin: 0.2rem;
    border: 1px solid transparent;
    transition: all 0.3s ease;
}

#about_btn:hover{
    background-color: #f2cbb4;
    color: #000;
    border: 1px solid black;
} */

.home2{
    display: none;
}



.latest_section{
    /* border: 1px solid red; */
    border-radius: 5px;
    /* box-shadow: 10px 10px 10px rgb(91, 90, 90); */

}


.latest_btn a{

    display: inline-block;
    padding: 0.8rem 2rem;
    background-color: #f17d3a;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid transparent;
    transition: all 0.3s ease;
    cursor: pointer;
    margin-bottom: 2rem;
}


.latest_btn a:hover {
    background-color: #f2cbb4;
    color: #000;
    border: 1px solid black;
}
.video_iframe_contianer{
    width: 100%;
    text-align: center;
}
.latest_section iframe {
    width: 60%;
    height: 400px;
    margin: 0 auto;
    box-shadow: 10px 10px 10px rgb(91, 90, 90);
    margin: 2rem 0rem 2rem;
}


@media(max-width:768px){
    
   .home{
    display: none;
   }
   .home2{
    display: block;
   }
    
 .home2 .container2{
     /* border: 1px solid red; */
     border-radius: 5px;
     min-height: 300px;
     margin-top: 0.1rem;
     box-shadow: 10px 10px 10px rgb(91, 90, 90) ;
 }

 .home2 .container2 .text_btn2 h2{
     /* border: 1px solid black; */
     margin-top: 0.1rem;
     font-size: 2.5rem;
     padding: 1rem;
     text-align: center;
     color: var(--primary-color);
     span{
         color: var(--secondary-color);
     }
 }

 .home2 .container2 .text_btn2 p{
    /* border: 1px solid red; */
    word-spacing: 1px;
    letter-spacing: 1px;
    text-align: center;

 }

 .home2 .container2 .text_btn2 a{
     background-color: var(--primary-color);
     padding: 0.5rem;
     border-radius: 5px;
     cursor: pointer;
     text-decoration: none;
     color: white;
     border: 1px solid transparent;
     transition: all 0.3s ease-in;
 }

 .home2 .container2 .text_btn2 a:hover{
      background-color: #f2cbb4;
      border: 1px solid black;
 }


}












